.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @include for-phone-only {
        width: 320px;
    }
    @include for-tablet-portrait-up {
        width: 480px;
    }
    @include for-tablet-landscape-up {
        width: 768px;
    }
    @include for-desktop-up {
        width: 1200px;
    }
}