.modal {
    border-radius: 4px;
    padding: 40px;
    
    background-color: var(--primary-bgc-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    @include for-phone-only {
        position: sticky;
        max-width: 450px;  
        width: 100%;      
        max-height: 609px;  
    }
     
    
    @include for-tablet-portrait-up {
        width: 100%;
        width: 450px;      
        max-height: 609px;
        height: 100%;
      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform var(--transition-time) var(--timing-function);  
    }
    @include for-desktop-up {
        width: 100%;
        max-width: 528px;
        height: 100%;
        max-height: 581px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        
        margin-bottom: 12px;
    
        color: #212121;
        @include for-phone-only {
            
            font-size: 15px;
        }
        @include for-tablet-landscape-up-max {
            
            line-height: 1.50;
        }
    }
    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
