.section {
    
    @include for-tablet-landscape-up-max {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @include for-desktop-up {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        margin-top: 0;
        margin-bottom: 30px;

        @include for-desktop-up {
            font-size: 36px;
            line-height: 1.17;
            
            margin-bottom: 50px;
        }
    }
}