.section-team {
    background-color: var(--secondary-bgc-color);

    &__list {
        @include for-tablet-portrait-up-max {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
        
        @include for-tablet-landscape-up {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        @include for-tablet-landscape-up-only {
            flex-basis: calc((100% - var(--card-set-gap)) / 2);
            margin-right: var(--card-set-gap);
            margin-bottom: var(--card-set-gap);
    
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }
        @include for-desktop-up {
            display: flex;
            gap: 30px;
        }
    }
    // &__item {
    //     @include for-tablet-landscape-up-only {
    //         flex-basis: calc((100% - var(--card-set-gap)) / 2);
    //         margin-right: var(--card-set-gap);
    //         margin-bottom: var(--card-set-gap);
    
    //         &:nth-child(2n) {
    //             margin-right: 0;
    //         }
    //         &:nth-last-child(-n + 2) {
    //             margin-bottom: 0;
    //         }
    //     }
    // }
    
    &__network-link {
        fill: var(--primary-icons-color);
        transition: background-color var(--transition-time) var(--timing-function), 
            fill var(--transition-time) var(--timing-function);
          
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--secondary-icons-color);
        }
    }
}




